@use "./variables" as v;

.container {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-image: v.$container-bg;
    main {
            background-image: v.$main-bg;
            border-radius: 8px;
            width: 50%;
            margin: 0 auto;
            max-width: 500px;
            box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);

            h3{
                font-family: v.$font-family;
                font-weight: 500;
                color: v.$white;
                text-align: center;
                letter-spacing: .1rem;
                padding: 1.5rem;
            }
            > p {
              font-family: v.$font-family;
              text-align: center;
              font-size: 0.9rem;
              font-weight: 400;
              color: v.$white;
              padding: 1rem;
              span {
                font-weight: 500;
                cursor: pointer;
              }
            }
            

    }
}