$font-family: 'Montserrat', sans-serif;

$container-bg:linear-gradient(to right, #008793, #00bf72, #a8eb12);

$main-bg: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);

$white: #fff;
$black: #353434;
$gray: #5c5b5b;
$error: #e60a0a;
